<div class="auth-container">
    <div class="auth-card">
        <div class="brand-header">
        <h2 routerLink="/">FacturaLista</h2>
        <p>Bienvenido de vuelta</p>
        </div>

        <div class="alert-error" *ngIf="errorMessage">
        {{ errorMessage }}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" class="form-input" formControlName="email" placeholder="tucorreo@empresa.com"
                [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        </div>

        <div class="form-group">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-input" formControlName="password" placeholder="••••••••"
                [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        </div>

        <button type="submit" class="btn-primary">Ingresar al Sistema</button>
        </form>

        <div class="auth-footer">
        <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
        </div>
    </div>
</div>